<div class="card">
    {{#each this}}
 
  <div class="card-img-top">
    <p class="country-list-item"><img src="{{flag}}" alt="{{name.official}}" width=45 height=30> {{name}}</p>
  </div>
     {{/each}}
</div>